<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarım Ürünleri Görü</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        body{
          header {
          background-image: linear-gradient(to bottom, rgb(80,80,80, 0.2), rgb(20,20,20, 0.6)), url('static/img/tarim_bitki.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;  
          background-size: cover;
      }
      h1{
        color: white;
      }
      h3{
        color: white;
        font-size: 24px;
        line-height: 40px;
      }
    }
    </style>
</head>
<body>

<header class="header">
        
    <div class="header__text">
        <a class="active" href="/home">Home</a>
        <a class="active" href="/contact">Contact</a>
        <a class="active" href="/about">About</a>
      </div>
    <div class="header_">
      <h1>Tarım Ürünleri Görü Sistemi</h1>
      <h2>Aşağıya bitki görseli yükleyiniz ve bitkinin hangi tarım ürününe ait olduğunu öğrenin:</h2>
    </div>
    

    
  </header>

<main>
  <h1>Ben kimim?</h1>
  <h3>Ben Furkan Akın. Lise 2 öğrencisiyim. Teknolojiye ve özellikle yazılım geliştirmeye büyük bir ilgim var. Aldığım Python dersleri ile kendimi geliştirmem sayesinde Python'dan yapay zeka kodlama, web sitesi geliştirme ve discord botu geliştirme gibi alanlarda bilgi sahibiyim. Ayrıca Gamemaker Studio ve Unity'den oyun geliştirebiliyorum. Lisanslı olarak satranç oynuyorum. Ve spor amaçlı da boks dersi alıyorum.</h3>

  
</main>
    
</body>

</html>