<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarım Ürünleri Görü</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        body{
            header {
            background-image: linear-gradient(to bottom, rgb(80,80,80, 0.2), rgb(20,20,20, 0.6)), url('static/img/tarim_bitki.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;  
            background-size: cover;
        }
    }
    </style>
</head>
<body>

<header class="header">
        
    <div class="header__text">
        <a class="active" href="/home">Home</a>
        <a class="active" href="/contact">Contact</a>
        <a class="active" href="/about">About</a>
      </div>
    <div class="header_">
      <h1>Tarım Ürünleri Görü Sistemi</h1>
      <h2>Aşağıya bitki görseli yükleyiniz ve bitkinin hangi tarım ürününe ait olduğunu öğrenin:</h2>
    </div>
    

    
  </header>
  <main>
    <div class="content">
      <div class="box">
        <!-- Dosya yükleme formu -->
        <form method="POST" action="/upload" enctype="multipart/form-data" id="uploadForm">
            <label for="file-upload" class="upload-label">Görsel Yükle</label>
            <input type="file" id="file-upload" name="file" class="upload-input" accept="image/*" onchange="submitForm()">
        </form>

        <!-- Yüklenen dosya varsa göster -->
        {% if filename %}
        <div class="image-preview">
          <img src="{{ url_for('static', filename='img/' + filename) }}" alt="Yüklenen resim" class="image-fit">
      </div>
        {% endif %}
    </div>
      

      <div class="result_">
      <h2>Çıkan Sonuç:</h2>
      <div class="result">
        <ul>
          <h3>Oranlar:</h3>
          {% for label, value in labeled_values %}
            <li>{{ label }}{{ value }}</li>
            <br>
        {% endfor %}
        </ul>
      </div>
    </div>

  </div>
    
  </main>

  <script>
    // Dosya seçildiğinde formu otomatik olarak gönder
    function submitForm() {
        document.getElementById("uploadForm").submit();
    }
</script>

    
</body>

</html>